<div class="container">
  <div class="row">
    <div class="col 6">
      <h1>Create a new List</h1>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
