// Define variables for your color scheme

// For example:
$red: #ad2117;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

$brand: #ad2117;
$dark: #1A0C09;
$gray: #8F8B88;
$light: #d9d0c7
